<!-- Government institutional banner -->
<div class="uai-gov-banner d-print-none">
  <img
    src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/zN94qRCMST8ghlm9/asset-12-rnVcHM0HLpKOGZCs.jpg"
    srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,fit=crop/zN94qRCMST8ghlm9/asset-12-rnVcHM0HLpKOGZCs.jpg 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,fit=crop/zN94qRCMST8ghlm9/asset-12-rnVcHM0HLpKOGZCs.jpg 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,fit=crop/zN94qRCMST8ghlm9/asset-12-rnVcHM0HLpKOGZCs.jpg 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,fit=crop/zN94qRCMST8ghlm9/asset-12-rnVcHM0HLpKOGZCs.jpg 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,fit=crop/zN94qRCMST8ghlm9/asset-12-rnVcHM0HLpKOGZCs.jpg 1440w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=2800,fit=crop/zN94qRCMST8ghlm9/asset-12-rnVcHM0HLpKOGZCs.jpg 2880w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/zN94qRCMST8ghlm9/asset-12-rnVcHM0HLpKOGZCs.jpg 1920w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=2800,fit=crop/zN94qRCMST8ghlm9/asset-12-rnVcHM0HLpKOGZCs.jpg 3840w"
    sizes="(max-width: 500px) 800px, 100vw"
    alt="UAI Protocol — Unified AI Interface"
  />
</div>
